@font-face {
    font-family: 'norsebold';
    src: url('./font/norse-bold-webfont.woff2') format('woff2'),
         url('./font/norse-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* { 
    margin: 0; 
    padding: 0;
    box-sizing: border-box; 
  }

body{
    line-height: 1.5;
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    background-color: black;
    display: flex;
    justify-content: center;
    --scaling-font: clamp(0.85rem, 1.7vw, 1.2rem);
    --left-padding: 35px;
}

div.container{
    min-width: 100vw;
    min-height: 100vh;
    background-color: whitesmoke;
    display: flex;
}

.container-left {
    flex-grow: 0.6;
    flex-basis: 0;
    position: relative;
    background-image: url("./images/backimage.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.logostrip {
    background: rgb(0,0,0, 0.5);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: norsebold;
    font-size: calc(1rem + 4vw);
    position: absolute;
    width: 100%;
    top: 25%;
}

.logo-image {
    width: calc(1.7rem + 4vw);
}

#attribution{
    color: white;
    font-size: 0.7rem;
    text-align: center;
    opacity: 0.7;
    position: absolute;
    width: 100%;
    top:96%;
}

a { 
    color: inherit; 
} 

.container-right {
    flex-grow: 1;
    flex-basis: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.message {
    margin-bottom: 30px;
    font-weight: bold;
    padding-left: var(--left-padding);
    font-size: var(--scaling-font);
}

p.lead {
    margin-bottom: 20px;
    max-width: 44ch;
}

form {
    display: flex;
    flex-direction: column;
}

.formcard {
    display: flex;
    flex-direction: column;
    padding: 25px 35px;
    gap: 15px;
    background-color: white;
    box-shadow: 2px 2px 4px 1px  rgb(0 0 0 / 10%);
}

p{
    font-size: var(--scaling-font);
    font-weight:500;
}

.line {
    display:flex;
    gap: 60px;
}

label {
    font-size: clamp(0.6rem, 0.9vw, 0.75rem);
    font-weight:500;
    color: rgb(0,0,0, 0.7);
}

input {
    display:block;
    font-family: inherit;
    width: clamp(180px, 15vw, 250px);
    padding: 3px;
    border: 1px solid #E5E7EB;
    border-radius: 3px;
}

input:focus {
    outline: none;
    border: 1px solid rgba(0, 0, 255, 0.5);
    box-shadow: 2px 2px 3px 1px  rgb(0 0 0 / 10%);
}

input:invalid {
    border: 1px solid red;
    border-radius: 3px;
}

input + span {
    position: relative;
}

input:invalid + span::after {
    position: absolute;
    content:"*Wrong password format";
    font-size: 0.6rem;
    color: red;
    padding: 2px 5px;
    width: 150px;
}

.formbutton {
    margin-top: 20px;
    padding-left: var(--left-padding);
    font-size: clamp(0.7rem, 0.9vw, 0.8rem);
}

button {
    color: whitesmoke;
    background-color: #596D48;
    border-radius: 5px;
    border: none;
    padding: 8px 35px;
    box-shadow: 2px 2px 3px 1px  rgb(0 0 0 / 10%);
    margin-bottom: 15px;
    font-size: clamp(0.80rem, 1.4vw, 1rem);
}

button:hover {
    background-color: #596d48ac;
}

.login {
 color: #596D48;    
}